.row-fluid
  .span3
    .well
      %h3 Sections
      %ol
        %li
          %a{:href => "#what-is-this"} What is this?
        %li
          %a{:href => "#what-is-zoning"} What is zoning?
        %li
          %a{:href => "#how-does-zoning-work"} How does zoning work?
        %li
          %a{:href => "#zoning-types"} What are the different zoning types?
        %li
          %a{:href => "#where-did-you-get-your-data-from"} Where did you get your data from?
        %li
          %a{:href => "#what-did-you-use-to-build-it"} What did you use to build it?
        %li
          %a{:href => "#team"} Team
  .span9
    %h2 About

    %h4#what-is-this What is this?
    %p Chicago Zoning is an app that lets you:
    %ul
      %li find out how your building is zoned
      %li explore zoning areas throughout the city

    %p It is entirely open source and built with open data.

    %h4#what-is-zoning What is zoning?
    %p
      regulations governing what you can do on a property and how big the
      building can be
    
    %h4#how-does-zoning-work How does zoning work?
    %p
      explain R-B-C-M scheme, explain the idea that bigger numbers after R B or C
      basically means ‘taller’. would be really good to have pictures of
      building that are exemplify each district type (i.e. rs3 = bungalow, rt3.5
      \= two flats, etc.)

    %h4#zoning-types What are the different zoning types?
    %ul
      %li
        Planned development
      %li
        Downtown districts
      %li
        Planned manufacturing districts
      %li
        Ttransportation district
      %li
        Parks and Open Space

    %h4#where-did-you-get-your-data-from Where did you get your data from?

    %h4#what-did-you-use-to-build-it What did you use to build it?
    %p
      This site is built with Sinatra, Ruby, Haml, Twiiter Bootstrap, Javascript and Google's Fusion Tables and Maps API. The data is stored in Fusion Tables and was pulled from the
      = succeed "." do
        %a{:href => "http://data.cityofchicago.org/"} City of Chicago Data Portal
    %p Technologies used:
    %ul
      %li
        %a{:href => "http://www.ruby-lang.org/en/downloads"} Ruby 1.9.3
      %li
        %a{:href => "http://www.sinatrarb.com"} Sinatra
      %li
        %a{:href => "http://haml.info"} Haml
      %li
        %a{:href => "http://www.heroku.com"} Heroku
      %li
        %a{:href => "http://twitter.github.com/bootstrap"} Twitter Bootstrap
      %li
        %a{:href => "http://jquery.com"} jQuery
      %li
        %a{:href => "http://code.google.com/apis/maps/documentation/javascript/"} Google Maps API V3
      %li
        %a{:href => "http://www.google.com/fusiontables"} Google Fusion Tables
    %p
      All the code for this project is up on
      = succeed "." do
        %a{:href => "https://github.com/open-city/chicago-zoning"} Github
    %h4#team Team
    %ul
      %li
        %a{:href => "http://derekeder.com"} Derek Eder
        \- developer and designer
      %li
        %a{:href => "https://jpvelez.contently.com/"} Juan-Pablo Velez
        \- zoning research and descriptions