.row-fluid
  .span9
    %h2 About
    
    %p Questions for the about page:
    %ul
      %li
        %p What is zoning?
    %p
      regulations governing what you can do on a property and how big the
      building can be
    %ul
      %li
        %p Why does it matter?
    %p
      because it literally shapes the city. the block-by-block character of our
      city is inscribed in the law. convey that zoning isn’t about boring laws
      and weird classifications - it’s the DNA of the built environment, the
      way that government shapes the urban landscape that surrounds us.
    %ul
      %li
        %p How does it work?
    %p
      explain R-B-C-M scheme, explain the idea that bigger numbers after R B or C
      basically means ‘taller’. would be really good to have pictures of
      building that are exemplify each district type (i.e. rs3 = bungalow, rt3.5
      \= two flats, etc.)
    %ul
      %li
        %p Why were they reformed in 2004?
      %li
        %p What is a planned development?
    %p
      explain what they are, why the city uses them a lot. the legal definition
      of these things is an unhelpful catch-all, better to give people a sense of
      how and why they’re using in practice.
    %ul
      %li
        %p What do the downtown districts mean?
      %li
        %p Why are there separate downtown districts?
      %li
        %p What are planned manufacturing districts?
    %p
      explain what they are, how they’re different from manufacturing
      districts, why the city has been using them
    %ul
      %li
        %p What is a transportation district?
      %li
        %p What is an open space district?