.row-fluid
  .span3
    .well
      %h3 Definitions
      %ol
        %li
          %a{:href => "#floor-area-ratio"} Floor Area Ratio
        %li
          %a{:href => "#lot-area-per-unit"} Lot area per unit
        %li
          %a{:href => "#maximum-building-height"} Maximum building height
        %li
          %a{:href => "#front-yard-setback"} Front yard setback
        %li
          %a{:href => "#side-setback"} Side setback
        %li
          %a{:href => "#rear-yard-open-space"} Rear yard open space
        %li
          %a{:href => "#on-site-open-space"} On-site open space

  .span7
    %h2 Definitions
    %hr
    %h4#floor-area-ratio 
      Floor area ratio
      %small Zoning code section 17-17-0305
    %p 
      A building's total floor area - that is, the square footage of every floor - divided by the area of the parcel of land its built on. Controls a property's density.                            
    %p
      For example, if you build a building on a property with an floor area ratio (FAR) of .5, as some detached houses do, then the total area of the building's floors must be less than half the area of the parcel. On the other hand, if the property has a FAR of 2, then the area of the building's floors will be double that of the parcel's area, and the building will have to be multi-story.
    %p
      %img.img-polaroid{:src => '/images/FAR.png', :alt => 'Floor area ratio'}                
    %p
      In other words, a small floor-area ratio suppresses a building's density, and a large FAR increases it. Suburban properties tend to have low FARs (less than 1), and downtown properties large ones (7-16.)                                           
    %p
      Why not just control density through building heights? Take the property with FAR of 1. An architect can build a single story building that uses the entire allowable area (half of the parcel area) in one floor, or a multi-story building that spreads out the same area over several floors and will be 'skinnier' as a result. So FAR allows flexibility on a building's design, while enforcing a hard limit on its density.  
    %p
      %img.img-polaroid{:src => '/images/FAR_loop.gif', :alt => 'Floor area ratio'} 
    %p
      For more info, see 
      %a{:href => 'http://www.carfree.com/far.html'} Carfree Cities' FAR explained
      and
      = succeed '.' do
        %a{:href => 'http://www.ontarioplan.org/index.cfm/27925/29188'} The Ontario Plan's Floor Area Ratio Example

    %hr
    %h4#lot-area-per-unit 
      Lot area per unit
      %small Zoning code section 17-17-0304
    %p 
      The amount of lot area required for each dwelling unit on the property. Like floor area ratio, controls a property's density.                                           
    %p
      For example, if a 3,125 square foot lot has a minimum lot-area-per-unit standard of 1,000 square feet, you could only build 3 dwelling units on the property. So the smaller the number, the denser the zoning district, because each building in it can have more units. Large apartment and office buildings tend to cluster in zoning districts with low minimum lot area per unit requirements.

    %hr
    %h4#maximum-building-height
      Maximum building height
      %small Zoning code section 17-17-0311
    %p 
      How tall your building can be. While a building's FAR and Lot Area per Unit regulate its density, max building height works in concert with setback requirements to control its bulk.

    %hr
    %h4#front-yard-setback
      Front yard setback
      %small Zoning code section 17-17-0304
    %p 
      The required distance between a building and its lot's street-facing edge. Basically, how big your front yard needs to be. Controls a building's bulk.

    %hr
    %h4#side-setback
      Side setback
      %small Zoning code section 17-17-0308
    %p 
      The required distance between a building and its lot's side property line. Basically, how much room you need to leave between buildings. Controls a building's bulk.

    %hr
    %h4#rear-yard-setback
      Rear yard setback
      %small Zoning code section 17-17-0307
    %p 
      The required distance between a building and its lot's rear property line. Basically, how big of space you need behind your building. Controls a building's bulk.

    %hr
    %h4#rear-yard-open-space
      Rear yard open space
      %small Zoning code section 17-17-0307
    %p 
      The amount of lot area required to be preserved as open space within the rear yard. Only applies to buildings in some residential districts, except for RM-5.5, RM-6, and RM-6.5. Basically, how big your residence's back yard needs to be.

    %hr
    %h4#on-site-open-space
      On-site open space
      %small Zoning code section 17-17-0308
    %p 
      Amount of usable, on-site outdoor space big apartment buildings must provide for residents.