.row-fluid
  .span9
    %h2 Recent zoning ordinances
    
    %table.table.table-bordered
      %thead
        %tr
          %th Ordinance
          %th Date
      %tbody
        - @ordinances.each do |ordinance|
          %tr
            = "<td>#{ordinance[:ordinance_]}</td>"
            = "<td>#{ordinance[:ordinance1]}</td>"