a { color: #4B58A6; }
.well {margin-bottom: 10px; padding-bottom: 15px; }


.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #4B58A6;
}

#mapCanvas img {
  max-width: none;
}


.zone-box { 
  height: 15px; 
  width: 15px;  
  display: inline-block;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box; 
}

.zone-1 { background-color: #7E7BCF; }
.zone-2 { background-color: #57D3CF; }
.zone-3 { background-color: #DDDD84; }
.zone-4 { background-color: #86DE86; }
.zone-5 { background-color: #DD8585; }
.zone-6 { background-color: #DCB67F; }
.zone-7 { background-color: #5AD9D9; }
.zone-8 { background-color: #B984DD; }
.zone-9 { background-color: #5DDA5D; }
.zone-10 { background-color: #6285A5; }
.zone-11 { background-color: #A3A3A3; }
.zone-12 { background-color: #7B9D65; }