/*
 * Custom variables for 2nd City Zoning
 */

// disable importing Raleway
$web-font-path: false;

$font-family-sans-serif: Chicago, Verdana, sans-serif;
$font-size-base: 14px;

$brand-primary: #d9534f;
