---
layout: default
---

<div class='row'>
  <div class='col-md-8'>
    <p>
      <a href='/zones'>&laquo; Zoning districts</a>
    </p>
    <h2>
      <span id='zone_icon'></span>
      {{page.district_type_code}}
      <small>
        {{page.district_title}}
      </small>
    </h2>
    <p>
      {{page.description}}
    </p>

    {% if page.district_type_code == 'PMD' %}
      <hr>
      <h4>Districts established</h4>
      <p>Chicago has 15 Planned Manufacturing Districts. They are:</p>
      <table class='table'>
        <tbody>
          <tr>
               <td>PMD 1 </td>
               <td>Clybourn Corridor</td>
               <td><a href='https://gisapps.cityofchicago.org/gisimages/zoning_pds/PMD1.pdf' target='_blank'><i class='fa fa-external-link'></i> Development plan for PMD 1</a></td>
          </tr>
          <tr>
               <td>PMD 2 </td>
               <td>Elston Corridor</td>
               <td><a href='https://gisapps.cityofchicago.org/gisimages/zoning_pds/PMD2.pdf' target='_blank'><i class='fa fa-external-link'></i> Development plan for PMD 2</a></td>
          </tr>
          <tr>
               <td>PMD 3 </td>
               <td>Goose Island</td>
               <td><a href='https://gisapps.cityofchicago.org/gisimages/zoning_pds/PMD3.pdf' target='_blank'><i class='fa fa-external-link'></i> Development plan for PMD 3</a></td>
          </tr>
          <tr>
               <td>PMD 4 </td>
               <td>Kinzie Corridor</td>
               <td><a href='https://gisapps.cityofchicago.org/gisimages/zoning_pds/PMD4.pdf' target='_blank'><i class='fa fa-external-link'></i> Development plan for PMD 4</a></td>
          </tr>
          <tr>
               <td>PMD 5 </td>
               <td>Chicago/Halsted Corridor</td>
               <td><a href='https://gisapps.cityofchicago.org/gisimages/zoning_pds/PMD5.pdf' target='_blank'><i class='fa fa-external-link'></i> Development plan for PMD 5</a></td>
          </tr>
          <tr>
               <td>PMD 6 </td>
               <td>Lake Calumet</td>
               <td><a href='https://gisapps.cityofchicago.org/gisimages/zoning_pds/PMD6.pdf' target='_blank'><i class='fa fa-external-link'></i> Development plan for PMD 6</a></td>
          </tr>
          <tr>
               <td>PMD 7 </td>
               <td>Western/Ogden</td>
               <td><a href='https://gisapps.cityofchicago.org/gisimages/zoning_pds/PMD7.pdf' target='_blank'><i class='fa fa-external-link'></i> Development plan for PMD 7</a></td>
          </tr>
          <tr>
               <td>PMD 8 </td>
               <td>Stockyards</td>
               <td><a href='https://gisapps.cityofchicago.org/gisimages/zoning_pds/PMD8.pdf' target='_blank'><i class='fa fa-external-link'></i> Development plan for PMD 8</a></td>
          </tr>
          <tr>
               <td>PMD 9 </td>
               <td>Northwest</td>
               <td><a href='https://gisapps.cityofchicago.org/gisimages/zoning_pds/PMD9.pdf' target='_blank'><i class='fa fa-external-link'></i> Development plan for PMD 9</a></td>
          </tr>
          <tr>
               <td>PMD 10</td>
               <td> West Pullman</td>
               <td><a href='https://gisapps.cityofchicago.org/gisimages/zoning_pds/PMD10.pdf' target='_blank'><i class='fa fa-external-link'></i> Development plan for PMD 10</a></td>
          </tr>
          <tr>
               <td>PMD 11</td>
               <td> Pilsen</td>
               <td><a href='https://gisapps.cityofchicago.org/gisimages/zoning_pds/PMD11.pdf' target='_blank'><i class='fa fa-external-link'></i> Development plan for PMD 11</a></td>
          </tr>
          <tr>
               <td>PMD 12</td>
               <td> Harlem</td>
               <td><a href='https://gisapps.cityofchicago.org/gisimages/zoning_pds/PMD12.pdf' target='_blank'><i class='fa fa-external-link'></i> Development plan for PMD 12</a></td>
          </tr>
          <tr>
               <td>PMD 13</td>
               <td> Greater Southwest</td>
               <td><a href='https://gisapps.cityofchicago.org/gisimages/zoning_pds/PMD13.pdf' target='_blank'><i class='fa fa-external-link'></i> Development plan for PMD 13</a></td>
          </tr>
          <tr>
               <td>PMD 14</td>
               <td> Kennedy</td>
               <td><a href='https://gisapps.cityofchicago.org/gisimages/zoning_pds/PMD14.pdf' target='_blank'><i class='fa fa-external-link'></i> Development plan for PMD 14</a></td>
          </tr>
          <tr>
               <td>PMD 15</td>
               <td> Armitage</td>
               <td><a href='https://gisapps.cityofchicago.org/gisimages/zoning_pds/PMD1.pdf' target='_blank'><i class='fa fa-external-link'></i> Development plan for PMD 15</a></td>
          </tr>
        </tbody>
      </table>
    {% endif %}

    <hr>
    <h4>Specifications</h4>

    <table class='table'>
      <tbody>
        <tr>
          <td>Zoning Ordinance reference</td>
          <td>
            § {{page.zoning_code_section}}<br />
            <small><a href='http://library.amlegal.com/nxt/gateway.dll/Illinois/chicagozoning/chicagozoningordinanceandlanduseordinanc?f=templates$fn=default.htm$3.0$vid=amlegal:chicagozoning_il' target='_blank'><i class='fa fa-external-link'></i> View the Chicago Zoning Ordinance</a></small>
          </td>
        </tr>
        <tr>
          <td>Floor area ratio</td>
          <td>{{page.floor_area_ratio}}</td>
        </tr>
        <tr>
          <td>Maximum building height</td>
          <td>{{page.maximum_building_height}}</td>
        </tr>
        <tr>
          <td>Lot area per unit (density)</td>
          <td>{{page.lot_area_per_unit}}</td>
        </tr>
        {% if page.minimum_lot_area %}
          <tr>
            <td>Minimum lot area</td>
            <td>{{page.minimum_lot_area}}</td>
          </tr>
        {% endif %}
        <tr>
          <td>On-site open space</td>
          <td>{{page.on_site_open_space}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h4>Setbacks</h4>

    <table class='table'>
      <tbody>
        <tr>
          <td>Front yard</td>
          <td>{{page.front_yard_setback}}</td>
        </tr>
        <tr>
          <td>Side</td>
          <td>{{page.side_setback}}</td>
        </tr>
        <tr>
          <td>Back yard</td>
          <td>{{page.rear_yard_setback}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<script type="text/javascript" src="/js/MapLibreLib.js"></script>
<script>
  $("#zone_icon").html("<img src='/images/icons/" + MapLibreLib.getZoneIcon('{{page.district_type_code}}') + ".png' />");
</script>